<DOCTYPE html>
<html>
<head>
	<title>Expenses Categorization</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>

<style>
	h1{
		color: green;
		font-family: 'Helvetica';
		text-align:center
	}
</style>
<body>

	<h1>What did you spend on?</h1>
	<br>
	<br>
<div class="container">
	<div class="alert alert-primary" role="alert">
You: {{inp}}
</div>
<div class="alert alert-dark" role="alert">
  Category: {{responses}}
</div>
	

	<form  action="/category" method="POST">
  <div class="form-group">
    <label for="exampleInputEmail1">Expenses</label>
    <input type="text" name="inp" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Write your item"><br>
  <button type="submit" class="btn btn-primary">Categorize</button>
</form>
</div>
</body>